
<diV class="flex justify-center">
    <h2 mat-dialog-title class="uppercase mt-4 font-semibold !text-yellow-500">Edit Details</h2>
  </diV>
  <mat-dialog-content>
    <form [formGroup]="employeeForm">
      <div class="grid gap-y-2 text-sm grid-cols-1 lg:grid-cols-2">
  
        <div class="lg:col-span-2">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
            <!-- <div class="md:col-span-2">
              <label for="emp_id">Employee ID</label>
              <input
                type="text"
                id="emp_id"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                formControlName="emp_id"
              />
              <div
                class="text-red-500 text-xs mt-1"
                *ngIf="
                  employeeForm.controls.emp_id.invalid &&
                  employeeForm.controls.emp_id.touched
                "
              >
                Employee ID is required.
              </div>
            </div> -->
            <div class="md:col-span-3">
              <label for="full_name">Full Name</label>
              <input
                type="text"
                id="full_name"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                formControlName="name"
              />
              <div
                class="text-red-500 text-xs mt-1"
                *ngIf="
                  employeeForm.controls.name.invalid &&
                  employeeForm.controls.name.touched
                "
              >
                Name is required.
              </div>
            </div>
  
            <div class="md:col-span-3">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                placeholder="email@domain.com"
                formControlName="email"
              />
              <div
                class="text-red-500 text-xs mt-1"
                *ngIf="
                  employeeForm.controls.email.invalid &&
                  employeeForm.controls.email.touched
                "
              >
                Email is required.
              </div>
            </div>
            <div class="md:col-span-2">
              <label for="phone">Phone</label>
              <input
                type="text"
                id="phone"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                placeholder="+91"
                formControlName="email"
              />
              <div
                class="text-red-500 text-xs mt-1"
                *ngIf="
                  employeeForm.controls.phone.invalid &&
                  employeeForm.controls.phone.touched
                "
              >
                phone is required.
              </div>
            </div>
  
            <div class="md:col-span-3">
              <label>Gender</label>
              <div class="flex space-x-3">
                <div class="flex items-center">
                  <input
                    id="male"
                    type="radio"
                    value="Male"
                    formControlName="gender"
                    class="w-4 h-4"
                  />
                  <label for="male" class="ml-2">Male</label>
                </div>
                <div class="flex items-center">
                  <input
                    id="female"
                    type="radio"
                    value="Female"
                    formControlName="gender"
                    class="w-4 h-4"
                  />
                  <label for="female" class="ml-2">Female</label>
                </div>
              </div>
            </div>
  
            <div class="md:col-span-3">
              <label for="department">Department</label>
              <input
                type="text"
                id="department"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                formControlName="department"
              />
              <div
                class="text-red-500 text-xs mt-1"
                *ngIf="
                  employeeForm.controls.department.invalid &&
                  employeeForm.controls.department.touched
                "
              >
                Phone Number is required.
              </div>
            </div>
  
  
            <div class="md:col-span-2">
                <label for="role">Role</label>
                <select 
                  formControlName="role"
                  id="role"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                >
                  <option [ngValue]="null">-- Select role --</option>
                  <option *ngFor="let role of roles" [ngValue]="role">
                    {{ role }}
                  </option>
                </select>
                <div class="text-red-500 text-xs mt-1" *ngIf="employeeForm.controls.role.invalid && employeeForm.controls.role.touched">
                  role is required.
                </div>
              </div>
  
            <div class="md:col-span-2">
                <label for="manager">Reports to</label>
                <select 
                  formControlName="reports_to" 
                  (change)="onManagerChange(employeeForm.controls.reports_to.value)"
                  id="manager"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                >
                  <option [ngValue]="null">-- Select Manager --</option>
                  <option *ngFor="let manager of managers" [ngValue]="manager.id">
                    {{ manager.name }}
                  </option>
                </select>
                <div class="text-red-500 text-xs mt-1" *ngIf="employeeForm.controls.reports_to.invalid && employeeForm.controls.reports_to.touched">
                  Manager is required.
                </div>
              </div>
  
              <div class="md:col-span-2">
                <label for="project ">Project</label>
                <select 
                  formControlName="project"
                  id="project"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                >
                  <option [ngValue]="null">-- Select Project --</option>
                  <option *ngFor="let project of filteredProjects" [ngValue]="project">
                    {{ project }}
                  </option>
              </select>
                <div class="text-red-500 text-xs mt-1" *ngIf="employeeForm.controls.project.invalid && employeeForm.controls.project.touched">
                  Project is required.
                </div>
              </div>
              
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="space-x-2 right-5" align="end">
    <button
      type="button"
      (click)="onSubmit()"
      class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 w-24 rounded-3xl disabled:opacity-25"
      [disabled]="employeeForm.invalid"
    >
      Submit
    </button>
    <button
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 w-24 rounded-3xl disabled:opacity-25"
      (click)="closeDialog()"
    >
      Close
    </button>
  </mat-dialog-actions>
  