<div class="flex absolute space-x-3">
    <!-- <button (click)="this.chart.expandAll().fit()" class="bg-yellow-500 px-3 py-1 hover:bg-yellow-600  rounded-md text-white shadow-lg flex items-center">Expand <mat-icon class="ml-1">unfold_more</mat-icon></button> -->
    <button (click)="this.chart.collapseAll().fit()" class="bg-yellow-500 px-3 py-1 hover:bg-yellow-600 rounded-md text-white shadow-lg flex items-center">Collapse <mat-icon>unfold_less</mat-icon></button>
    <button (click)="this.chart.fit()" class="bg-yellow-500 px-3 py-1  rounded-md hover:bg-yellow-600 text-white shadow-lg flex items-center">Fit<mat-icon class="ml-1">fit_screen</mat-icon></button>
</div>
<div class="absolute right-1 bg-slate-100 rounded-lg p-3 top-1">
    <div class="flex space-x-2">
        <div class="w-7 h-4 bg-yellow-600 text-white text-xs text-center">L1</div><div class="text-sm text-gray-500">ADM</div>
    </div>
    <div class="flex space-x-2">
        <div class="w-7 h-4 bg-yellow-400 text-white text-xs text-center">L2</div><div class="text-sm text-gray-500">Project</div>
    </div>
    <div class="flex space-x-2">
        <div class="w-7 h-4 bg-yellow-300 text-white text-xs text-center">L3</div><div class="text-sm text-gray-500">Team Lead</div>
    </div>
    <div class="flex space-x-2">
        <div class="w-7 h-4 bg-yellow-200 text-white text-xs text-center">L4</div><div class="text-sm text-gray-500">Team Member</div>
    </div>
</div>
<div #chartContainer ></div>
