<div class="container">
  <h1>Employee List</h1>
  <input
    class="searchbar"
    type="text"
    [formControl]="searchControl"
    placeholder="Search employees..."
  />
  <table border="1">
    <thead>
      <tr>
        <th (click)="sort('id')">ID</th>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('department')">Department</th>
        <th (click)="sort('job_title')">Job Title</th>
        <th (click)="sort('email')">Email</th>
        <th (click)="sort('salary')">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredEmployees">
        <td (click)="view(row.employee_id)">{{ row.employee_id }}
        </td>
        <td (click)="view(row.employee_id)"> {{ row.name }}
        </td>
        <td (click)="view(row.employee_id)">{{ row.department }}
        </td>
        <td (click)="view(row.employee_id)">{{ row.job_title }}
        </td>
        <td (click)="view(row.employee_id)"> {{ row.email }}
        </td>
        <td (click)="view(row.employee_id)">{{ row.salary }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
