
<div class="mt-4 p-4 bg-gray-100 flex items-center justify-center">
  <div class="container max-w-screen-lg mx-auto">
    

      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="grid  gap-y-2 text-sm grid-cols-1 lg:grid-cols-2">
          <div class="text-gray-600 mb-2">
            <p class="font-medium text-lg">Employee Details</p>
          </div>

          <div class="lg:col-span-2">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
              <div class="md:col-span-3">
                <label for="full_name">Full Name</label>
                <input type="text" name="full_name" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
              </div>

              <div class="md:col-span-3">
                <label for="email">Email phone_number</label>
                <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="email@domain.com" />
              </div>
              <div class="md:col-span-3">
                <label for="email">Gender</label>
               <div class="flex space-x-3">
<div class="flex items-center">
  <input id="male" type="radio" value="male" name="gender" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
  <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 ">Male</label>
</div>
<div class="flex items-center">
  <input id="female" type="radio" value="female" name="female" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
  <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 ">Female</label>
</div>
</div>

              </div>

              <div class="md:col-span-3">
                <label for="phone_number">Phone Number</label>
                <input type="text" name="phone_number" id="phone_number" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
              </div>

              <div class="md:col-span-2">
                <label for="salary">Salary</label>
                <input type="text" name="salary" id="salary" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
              </div>

              <div class="md:col-span-2">
                <label for="department">Department</label>
                <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                  <input name="department" id="department" placeholder="department" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" />
                 
                </div>
              </div>

              <div class="md:col-span-2">
                <label for="job_title">Job Title</label>
                <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                  <input name="job_title" id="job_title" placeholder="Job title" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" />
                  
                </div>
              </div>

              <div class="md:col-span-1">
                <label for="skill">Skill</label>
                <input type="text" name="skill" id="skill" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" placeholder="" value="" />
              </div>
              <div class="md:col-span-2">
                <label for="projects_completed">How many projects completed?</label>
                <div class="h-10 w-28 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                 
                  <input name="projects_completed" type="number" id="projects_completed" placeholder="0" class="px-2 text-center appearance-none outline-none text-gray-800 w-full bg-transparent" value="0" />
                  
                </div>
              </div>
      
              <div class="md:col-span-5 text-right">
                <div class="inline-flex items-end">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
 

  </div>
</div>