<div class="container">
  <table border="1">
    <thead>
      <tr>
        <th class="bg-cyan-700">S.NO</th   >
        <th (click)="sort('employee_id')" class="text-sm">
          ID 
          <span>
            {{ sortDirection['employee_id'] === undefined ? '↑↓' : (sortDirection['employee_id'] ? '↑' : '↓') }}
          </span>
        </th>
        <th (click)="sort('name')">
          NAME 
          <span>
            {{ sortDirection['name'] === undefined ? '↑↓' : (sortDirection['name'] ? '↑' : '↓') }}
          </span>
        </th>
        <th (click)="sort('department')">
          DEPARTMENT 
          <span>
            {{ sortDirection['department'] === undefined ? '↑↓' : (sortDirection['department'] ? '↑' : '↓') }}
          </span>
        </th>
        <th (click)="sort('job_title')">
          JOB TITLE 
          <span>
            {{ sortDirection['job_title'] === undefined ? '↑↓' : (sortDirection['job_title'] ? '↑' : '↓') }}
          </span>
        </th>
        <th (click)="sort('email')">
          EMAIL 
          <span>
            {{ sortDirection['email'] === undefined ? '↑↓' : (sortDirection['email'] ? '↑' : '↓') }}
          </span>
        </th>
        <th (click)="sort('salary')">
          SALARY 
          <span>
            {{ sortDirection['salary'] === undefined ? '↑↓' : (sortDirection['salary'] ? '↑' : '↓') }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input matInput type="text" (input)="trackChange('employee_id', $event)" placeholder="ID" /></td>
        <td><input type="text" (input)="trackChange('name', $event)" placeholder="Name" /></td>
        <td><input type="text" (input)="trackChange('department', $event)" placeholder="Department" /></td>
        <td><input type="text" (input)="trackChange('job_title', $event)" placeholder="Job Title" /></td>
        <td><input type="text" (input)="trackChange('email', $event)" placeholder="Email" /></td>
        <td><input type="text" (input)="trackChange('salary', $event)" placeholder="Salary" /></td>
      </tr>
      <tr
        (click)="view(row.employee_id)"
        *ngFor="let row of filteredEmployees; let i = index"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ row.employee_id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.department }}</td>
        <td>{{ row.job_title }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.salary }}</td>
      </tr>
    </tbody>
  </table>
</div>
