<div class="card">
  <div class="header">
    <h2>{{ employee.name }}</h2>
    <p>{{ employee.job_title }}</p>
  </div>
  <div class="body">
    <div class="section" *ngIf="employee">
      <div class="info">
        <p><span class="label">Employee ID:</span> {{ employee.employee_id }}</p>
        <p><span class="label">Email:</span> {{ employee.email }}</p>
        <p><span class="label">Gender:</span> {{ employee.gender }}</p>
        <p><span class="label">Phone Number:</span> {{ employee.phone_number }}</p>
      </div>
      <div class="info">
        <p><span class="label">Department:</span> {{ employee.department }}</p>
        <p><span class="label">Salary:</span> ${{ employee.salary }}</p>
        <p><span class="label">Skills:</span> {{ employee.skills }}</p>
        <p><span class="label">Projects Completed:</span> {{ employee.projects_completed }}</p>
      </div>
    </div>
    <a routerLink="/" class="home">Back to Home</a>
  </div>
</div>
